/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow:hidden;
    font-family: inherit;
    position: relative;
    min-height: calc(100vh - 5rem);
    height: 250vh;
    background: #0A1931;
    color:#FFF;
}

.container{
    align-items: center;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 100px;
}
body::-webkit-scrollbar-track {
    background-color: #0a1931;
}

/* Mobile */
@media screen and (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}

@media screen and (min-width: 768px) {
    .rounded-lg-3 { border-radius: .3rem; }
}

@media screen and (min-width: 576px) {
    .rounded-lg-3 { border-radius: .3rem; }
}


/* Navbar */
nav {
    display: flex;
    position: fixed;
    height: 80px;
}

nav a, p {
    display: block;
    font-size: 1em;
    text-decoration: inherit;
}

.nav-active{
    background-color: #0A1931;
    box-shadow: 5px -1px 12px -5px;
}

.destinasi > p{
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    z-index: 100;
    position: relative;
    top: 7px;
    left: 30px;
    font-size: 18px;
    color:#FFF;
}

.rect{
width: 161px;
height: 40px;
background: #01A826;
border-radius: 60px;
position: relative;
top: 0px;
}

.rect:hover{
    background-color:#007219;
}
.rect:active{
    top: 10px;
}

.judul > a{
    position: absolute;
    left: 80px;
    top: 15px;
    z-index: 100;
    font-style: italic;
    font-weight: bold;
    font-size: 2.3vw;
      /* identical to box height */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    }

/* About US */
.pos{
    position: relative;
    top: 100px;
}

.line{
    position: relative;
    display: flex;
    top: -30px;
    left: 250px;
    width: 300px;
    border: 1px solid #FFFFFF;
}

.lead > h1{
    position: relative;
    top: -20px;
    left: 250px;
}

.lead > p{
    position: relative;
    text-align: justify;
}

/* Meet Our Team */
.spot{
    position: relative;
    left: 100px;
    top: 50px;
}

.teks{
    position: relative;
    left: -60px;
    text-align:center;
}

.ukuran{
    font-size: 20px;
}

.posi{
    position: relative;
    left: -100px;
    top: -30px;
}

.baris{
    position: relative;
    justify-content: space-evenly;
    left: -50px;
}